<footer>
    <div class="footercls">
        <div class="footerchild">
            <div class="iconlfi">
          <a href="https://www.linkedin.com/in/ashish-kumar-2c88/" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-square-linkedin"></i></a> 
           <a href="https://www.instagram.com/ash_ish_88?igsh=MWNlM29mdGJheGdzag==" target="_blank" rel="noopener noreferrer"> <i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.facebook.com/profile.php?id=100080168300700" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-square-facebook"></i></a> 
             </div>
             <p>Copyright &copy; 2024-2025. All Rights Reserved</p>
             <div class="privacyTerms">
             <a href="/privacy">Privacy</a>
             <a href="/terms">Terms</a>
             </div>
        </div>
    </div>
</footer>